:root[data-theme="dark"] {
  --bg: #0f0f0f;
  --card: #1b1b1b;
  --link: #ffffff;
  --text: #ffffff;
  --accent: #4f8cff;
}

:root[data-theme="light"] {
  --bg: #f4f4f4;
  --card: #ffffff;
  --link: #111111;
  --text: #111111;
  --accent: #2f6bff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  background: var(--accent);
  color: white;
  font-size: 16px;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.bank-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.back-btn {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-color: var(--card);
  border-radius: 10px;
  color: var(--text);
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
}

.social {
  margin: 30px 0;
  text-align: center;
}

.social-text {
  margin-bottom: 14px;
  font-size: 16px;
  color: var(--text);
  opacity: 0.8;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}

.facebook-btn,
.whatsapp-btn {
  display: inline-block;
  padding: 14px 22px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 14px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.facebook-btn {
  background: #1877f2;
}

.whatsapp-btn {
  background: #25d366;
}

.facebook-btn:hover,
.whatsapp-btn:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}


.bank-card {
  background: var(--card);
  padding: 20px;
  border-radius: 16px;
  position: relative;
  color: var(--link);
}

.overlay p {
  margin: 6px 0;
}

.overlay button,
.overlay a {
  margin-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.how {
  margin-top: 40px;
  background: var(--card);
  padding: 20px;
  border-radius: 16px;
}

ol {
  padding-left: 20px;
}

.back-btn:hover {
  background-color: var(--accent);
  color: #fff;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.pay-btn {
  font-family: system-ui, sans-serif;
  display: inline-block;
  width: 345px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--accent);
  color: #fff;
  transition: all 0.2s ease;
}

.pay-btn:hover {
  background-color: var(--accent);
  filter: brightness(0.9);
  transform: scale(1.05);
}